/node_modules
/vendor
/.vscode
npm-debug.log
yarn-error.log
.env
.idea/
!src/public/sites/default/
src/files/config_*
src/files/css/
src/files/js/
src/files/php/
src/files/styles/
src/files/.htaccess
